# dependencies
/node_modules

# testing
/coverage
/playwright-report
/test-results

# data
/neo-images

# docs
/docs/local-docs

# production
/build
/dist
/scripts/dist

# OS
.DS_Store

# Logs
npm-debug.log*
npm-error.log*
