/* #app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
} */
.App {
  text-align: center;
  background-color: white;
  font-family: "Montserrat", sans-serif !important;
  font-size: 12px;
  font-weight: 500;
  color: #222;
  padding: 12px;
}
